<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title"><span class="icon"> <i class="icon-search"></i> </span>
            <h5>Form Layout</h5>
        </div>
        <div class="widget-content">
            <div class="controls">
                <input type="text" placeholder=".span12" class="span12 m-wrap">
            </div>
        </div>
    </div>

    <div class="widget-box">
      <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
        <h5>Static table with checkboxes in box with padding</h5>
        <span class="label label-info">Featured</span> </div>
      <div class="widget-content nopadding">
        <table class="table table-bordered table-striped with-check">
          <thead>
            <tr>
              <th><input type="checkbox"/></th>
              <th>Column name</th>
              <th>Column name</th>
              <th>Column name</th>
              <th>Column name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" /></td>
              <td>Row 1</td>
              <td>Row 2</td>
              <td>Row 3</td>
              <td>Row 4</td>
            </tr>
          </tbody>
        </table>
      </div>
      {$page}
          <div class="pagination alternate">
              <ul>
                  <li class="disabled"><a href="#">First</a></li>
                  <li class="disabled"><a href="#">Prev</a></li>
                  <li class="active"> <a href="#">1</a> </li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">Next</a></li>
                  <li><a href="#" class="tip-bottom" data-original-title="total page">Last</a></li>
              </ul>
        </div>
    </div>
</div>
