<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title"><span class="icon"> <i class="icon-search"></i> </span>
            <h5>Form Layout</h5>
        </div>
        <div class="widget-content">
            <div class="controls">
                <input type="text" placeholder=".span12" class="span12 m-wrap">
            </div>
        </div>
    </div>

    <div class="widget-box">
      <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
        <h5>Static table with checkboxes in box with padding</h5>
        <span class="label label-info">Featured</span>
    </div>
      <div class="widget-content nopadding">
        <table class="table table-bordered table-striped with-check">
            {$tableDom}
        </table>
      </div>
      <div class="widget-title">
          {$page}
      </div>
    </div>
</div>
